<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source = 10.6.154.251; database=master;Initial Catalog=WebCrawler;user id=sa;pwd=MOcyou0543_" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source = localhost; database=master;Initial Catalog=Test;user id=sa;pwd=MOcyou0543_" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>